<div class="series__form">
    <div class="list-group flex-md-row" id="list-movie-tab" role="tablist">
        <a class="list-group-item list-group-item-action active mx-5 text-center" id="list-movieform-list"
            data-toggle="list" href="#list-movieform" role="tab" aria-controls="list-movieform">Add
            movies</a>
        <a class="list-group-item list-group-item-action mx-5 text-center" id="list-movieinfo-list" data-toggle="list"
            href="#list-movieinfo" role="tab" aria-controls="list-movieinfo">Add
            videos</a>
    </div>
    <div class="tab-content my-5" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-movieform" role="tabpanel"
            aria-labelledby="list-movieform-list">
            <div class="series__info my-5">
                <h4 class="padding-adder my-5">Movie Form</h4>
                <!-- movie-form  -->

                <form id="movieForm">
                    <!-- movie-name  -->

                    <div class="form-group my-4">
                        <div class="row pado">
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <label class="mt-2" for="movie_name">Movie Name</label>
                            </div>
                            <div class="col-lg-6 col-md-9 col-sm-9">
                                <input type="text" name="movie-name" class="form-control" id="movie_name"
                                    placeholder="Enter movie name" required />
                            </div>
                        </div>
                    </div>
                    <!-- movie-description  -->

                    <div class="form-group my-4">
                        <div class="row pado">
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <label class="mt-2" for="movie__description">Movie
                                    description</label>
                            </div>
                            <div class="col-lg-6 col-md-9 col-sm-9">
                                <textarea class="form-control" name="movie-description" id="movie__description" rows="3"
                                    required></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- languages  -->

                    <div class="form-group my-4">
                        <div class="row pado">
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <label class="mt-2">Languages</label>
                            </div>
                            <div class="col-lg-6 col-md-9 col-sm-9">
                                <select id="movie__language" name="language" class="custom-select">
                                    <option selected>Languages</option>
                                    <option value="Bengali">Bengali</option>
                                    <option value="English">English</option>
                                    <option value="Hindi">Hindi</option>
                                    <option value="Kannada">Kannada</option>
                                    <option value="Malayalam">Malayalam</option>
                                    <option value="Marathi">Marathi</option>
                                    <option value="Tamil">Tamil</option>
                                    <option value="Telugu">Telugu</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- categories and their subcategories  -->

                    <div class="form-group my-4">
                        <div class="row pado">
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <label class="mt-2">Categories</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9">
                                <div class="row">
                                    <input type="text" readonly name="movie-categories" class="form-control-plaintext"
                                        id="movie__category" value="Entertainment">
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 mx-1 my-3">
                                        <div class="btn-group dropdown">
                                            <button class="btn btn-light-outline" type="button" id="dropdownMen"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Subcategory
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMen">
                                                <div class="dropdown-item">
                                                    <input type="checkbox" id="chkbxo" name="Action" value="Action">
                                                    <label for="action">Action</label>
                                                </div>
                                                <div class="dropdown-item">
                                                    <input type="checkbox" id="chkbxo" name="Adventure"
                                                        value="Adventure">
                                                    <label for="adventure">Adventure</label>
                                                </div>
                                                <div class="dropdown-item">
                                                    <input type="checkbox" id="chkbxo" name="Animation"
                                                        value="Animation">
                                                    <label for="animation">Animation</label>
                                                </div>
                                                <div class="dropdown-item">
                                                    <input type="checkbox" id="chkbxo" name="Comedy" value="Comedy">
                                                    <label for="comedy">Comedy</label>
                                                </div>


                                                <div class="dropdown-item">
                                                    <input type="checkbox" id="chkbxo" name="Crime" value="Crime">
                                                    <label for="crime">Crime</label>
                                                </div>
                                                <div class="dropdown-item">
                                                    <input type="checkbox" id="chkbxo" name="Drama" value="Drama">
                                                    <label for="drama">Drama</label>
                                                </div>

                                                <div class="dropdown-item">
                                                    <input type="checkbox" id="chkbxo" name="Horror" value="Horror">
                                                    <label for="horror">Horror</label>
                                                </div>
                                                <div class="dropdown-item">
                                                    <input type="checkbox" id="chkbxo" name="Romance" value="Romance">
                                                    <label for="romance">Romance</label>
                                                </div>
                                                <div class="dropdown-item">
                                                    <input type="checkbox" id="chkbxo" name="Thriller" value="Thriller">
                                                    <label for="thriller">Thriller</label>
                                                </div>
                                                <div class="dropdown-divider"></div>
                                                <button type="button" id="savecho" class="btn btn-primary">Save</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-4 mx-1 my-3">
                                        <textarea class="form-control" name="subcategory-choosen"
                                            id="movie__subcategory__choosen" rows="1" disabled
                                            aria-required="true"></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- movie-thumbnail  -->

                    <div class="form-group my-4">
                        <div class="row pado">
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <label class="mt-2">Upload Thumbnail</label>
                            </div>
                            <div class="col-lg-6 col-md-9 col-sm-9">
                                <input id="movie__file" type='file' class="form-control" name='movie-image'
                                    accept='.png, .jpg, .jpeg' required>
                            </div>
                        </div>
                    </div>
                    <div class="padding-adder">
                        <button type="submit" id="movie-submit" class="btn btn-primary my-4">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="tab-pane fade a-m-list" id="list-moviesinfo" role="tabpanel" aria-labelledby="list-movieinfo-list">
            <div class="episode__info">
                <div id="movie-server-result">
                </div>
                <div class="row">
                    <!-- add season videos  -->

                    <div class="add__season__videos">
                        <p id="movie_id" hidden></p>

                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#movie-free-content"
                            aria-expanded="false" aria-controls="movie-free-content">
                            Add Free Content
                        </button>
                        <div class="collapse" id="movie-free-content">
                            <div class="card card-body">
                                <!-- add season videos -->
                                <!-- adding free content form  -->

                                <form id="moviefreecontentForm">
                                    <!-- free content no  -->

                                    <div class="form-group my-4">
                                        <div class="row pado">
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <label class="mt-2" for="movie__contentno">
                                                    Content No
                                                </label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9">
                                                <input type="text" readonly name="movie-contentno"
                                                    class="form-control-plaintext" id="movie__contentno"
                                                    value="1">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- free content name  -->

                                    <div class="form-group my-4">
                                        <div class="row pado">
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <label class="mt-2" for="movie__contentname">Content
                                                    name</label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9">
                                                <input type="text" name="movie-contentname" class="form-control"
                                                    id="movie__contentname" placeholder="Enter video name"
                                                    required />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- free content description  -->

                                    <div class="form-group my-4">
                                        <div class="row pado">
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <label class="mt-2" for="movie__contentescription">Content
                                                    description</label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9">
                                                <textarea class="form-control" name="movie-contentdescription"
                                                    id="movie__contentdescription" rows="3"
                                                    required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- free content tags  -->
                                    <div class="form-group my-4">
                                        <div class="row pado">
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <label class="mt-2">Episode
                                                    tags</label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9">
                                                <div class="row">
                                                    <div class="col-lg-9 col-md-9 col-sm-9">
                                                        <input type="text" id="cm-tag-text" class="form-control"
                                                            placeholder="enter tag" />
                                                    </div>
                                                    <div class="col-lg-1 col-md-1 col-sm-1">

                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                                        <button type="button" class="btn btn-sm btn-primary"
                                                            id="cm-add-tag">Add tag</button>
                                                    </div>
                                                </div>
                                                <div id="cm-selected-tags" class="my-3">

                                                </div>
                                            </div>
                                            <!-- <div class="col-lg-3 col-md-3 col-sm-3">
                                                <label class="mt-2"
                                                    for="series__season__contenttags">Episode
                                                    tags</label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9">
                                                <textarea class="form-control"
                                                    name="series-season-contenttags"
                                                    id="series__season__contenttags"
                                                    rows="3"></textarea>
                                            </div> -->
                                        </div>
                                    </div>
                                    <!-- free content quality  -->

                                    <div class="form-group my-4">
                                        <div class="row pado">
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <label class="mt-2">Quality</label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9">
                                                <select id="content_movie_quality" name="content-quality"
                                                    class="custom-select">
                                                    <option selected>Quality</option>
                                                    <option value="144">144p</option>
                                                    <option value="240">240p</option>
                                                    <option value="360">360p</option>
                                                    <option value="480">480p</option>
                                                    <option value="720">720p</option>
                                                    <option value="1080">1080p</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- released date  -->

                                    <div class="form-group my-4">
                                        <div class="row pado">
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <label class="mt-2" for="movie__contentdate">Episode
                                                    Release Date</label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9">
                                                <input type="date" class="form-control" name="movie-contentdate"
                                                    id="movie__contentdate" required>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- thumbnail  -->

                                    <div class="form-group my-4">
                                        <div class="row pado">
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <label class="mt-2">Upload Thumbnail</label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9">
                                                <input id="movie_file4" type='file' class="form-control" name='content-image'
                                                    accept='.png, .jpg, .jpeg' required>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- upload video  -->
                                    <div class="form-group my-4">
                                        <div class="row pado">
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <label class="mt-2">Upload Video</label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9">
                                                <select id="moviecontentlinkorvideo" name="content-video"
                                                    class="custom-select">
                                                    <option value="Video" selected>Video
                                                    </option>
                                                    <option value="Link">Link</option>
                                                </select>
                                                <input type='file' id="movie-content-video" class="form-control my-3"
                                                    name='content-video' accept='.mp4, .wmv, .avi,.mov,.3gp,.flv'>
                                                <input type="url" style="display: none;" id="movie-content-link"
                                                    class="form-control my-3" name='content-link' placeholder="link">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" id="movie-content-submit"
                                            class="btn btn-primary my-4">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="movie-one-time">
                            <div class="card card-body">
                                <!-- adding movie form  -->

                                <form id="movievideoForm">
                                    <!-- movie name  -->

                                    <div class="form-group my-4">
                                        <div class="row pado">
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <label class="mt-2" for="movie__videoname">Movie
                                                    name</label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9">
                                                <input type="text" name="movie-videoname" class="form-control"
                                                    id="movie__videoname" placeholder="Enter video name"
                                                    required />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- movie description  -->

                                    <div class="form-group my-4">
                                        <div class="row pado">
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <label class="mt-2" for="movie__videodescription">Movie
                                                    description</label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9">
                                                <textarea class="form-control" name="movie__videodescription"
                                                    id="movie__videodescription" rows="3"
                                                    required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- episode tags  -->
                                    <div class="form-group my-4">
                                        <div class="row pado">
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <label class="mt-2">Movie
                                                    tags</label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9">
                                                <div class="row">
                                                    <div class="col-lg-9 col-md-9 col-sm-9">
                                                        <input type="text" id="m-tag-text" class="form-control"
                                                            placeholder="enter tag" />
                                                    </div>
                                                    <div class="col-lg-1 col-md-1 col-sm-1">

                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                                        <button type="button" class="btn btn-sm btn-primary"
                                                            id="m-add-tag">Add tag</button>
                                                    </div>
                                                </div>
                                                <div id="m-selected-tags" class="my-3">

                                                </div>
                                            </div>
                                            <!-- <div class="col-lg-3 col-md-3 col-sm-3">
                                                <label class="mt-2"
                                                    for="series__season__episodetags">Episode
                                                    tags</label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9">
                                                <textarea class="form-control"
                                                    name="series-season-episodetags"
                                                    id="series__season__episodetags"
                                                    rows="3"></textarea>
                                            </div> -->
                                        </div>
                                    </div>
                                    <!-- quality  -->

                                    <div class="form-group my-4">
                                        <div class="row pado">
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <label class="mt-2">Quality</label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9">
                                                <select id="m-video_quality" name="quality" class="custom-select">
                                                    <option selected>Quality</option>
                                                    <option value="144">144p</option>
                                                    <option value="240">240p</option>
                                                    <option value="360">360p</option>
                                                    <option value="480">480p</option>
                                                    <option value="720">720p</option>
                                                    <option value="1080">1080p</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- released date  -->

                                    <div class="form-group my-4">
                                        <div class="row pado">
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <label class="mt-2" for="movie__videodate">Movie
                                                    Release Date</label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9">
                                                <input type="date" class="form-control" name="movie-videodate"
                                                    id="movie__videodate" required>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- thumbnail  -->

                                    <div class="form-group my-4">
                                        <div class="row pado">
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <label class="mt-2">Upload Thumbnail</label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9">
                                                <input id="movie-file2" type='file' class="form-control" name='episode-image'
                                                    accept='.png, .jpg, .jpeg' required>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- upload video  -->
                                    <div class="form-group my-4">
                                        <div class="row pado">
                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                <label class="mt-2">Upload Video</label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9">
                                                <select id="m-linkorvideo" name="video" class="custom-select">
                                                    <option value="Video" selected>Video
                                                    </option>
                                                    <option value="Link">Link</option>
                                                </select>
                                                <input type='file' id="movie-video" class="form-control my-3"
                                                    name='movie-video' accept='.mp4, .wmv, .avi,.mov,.3gp,.flv'>
                                                <input type="url" style="display: none;" id="movie-link"
                                                    class="form-control my-3" name='movie-link' placeholder="link">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- right navigation  -->

                                    <div class="text-center">
                                        <button type="submit" id="movie-submit"
                                            class="btn btn-primary my-4">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="m-uploaded-free-contents">

                        </div>
                        <!-- added episodes section -->
                        <div id="uploaded_movie">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>