
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.7em;
    text-align: justify; 
    text-justify: inter-word;
}



.main__section  .row{
   margin:0% 0% !important;
}

.col-gl-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-6,.col-lg-8,.col-lg-9,.col-lg-10{
     padding:0% 0% !important;
} 

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/*  SIDEBAR STYLE */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    position:fixed;
    height:100%;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}
ul{
    list-style-type: none;
}
.fix{
    position: fixed;
    margin:7% 5%;
    border-left: 1px solid #676767;
}
#section1,#section2,#section3{
    padding:30% 7%;
}


/* series-form  */
.pado {
    padding: 1% 1%;
}
.padding-adder{
    padding-left:35%;
}


.series__form,
.series__added__form{
    padding:7% 13%;
}

.series__info,.season__info,.episode__info{
    padding-left:10%;
}
/* #list-seriesinfo-list{
    pointer-events: none;
}
#list-seriesform-list{
    pointer-events: all;
} 
#list-seasoninfo-list{
    pointer-events: none;
} */

.ws-sports,.ws-entmnt,.ws-txt{
    display:none;
}



/* episode form  */
.fa-times{
    color:white;
    font-size: 1em;
}

#episode-link{
    display:none;
}

/* added series  */
.adding__series{
   margin:7% 10%;
}
@media(max-width:100em){
    .series__form{
        padding:7% 8%;
    }
    .series__info{
        padding-left:8%;
    }
}
@media(max-width:60em){
    .series__form{
        padding:7% 5%;
    }
    .series__info{
        padding-left:5%;
    }
}