{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>StrangeFlix</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css"%}">
    <link rel="stylesheet" href="{% static "css/fontawesome.min.css"%}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="{% static "js/bootstrap.min.js"%}"></script>

    <!-- css  -->
    <link rel="stylesheet" href="{%static "css/wallet.css"%}">
</head>


<body>
    <!-- user wallet details -->
    <div class="wallet-details">
        <div class="text-center my-5">
            <div style="margin-left:475px;text-align: center;height:relative;width: 400px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);text-align: center;">
                <h4 class="text-center my-5" style="padding-top:30px;">Wallet</h4>
                <div style="display: inline-block;width: 100%;">
                    <div style="float: left;margin-left: 50px;">Wallet Balance</div>
                    <div style="float: right;margin-right: 50px;">Rs. {{ wallet_bal }}</div>
                </div>
                <!-- add money form -->
                <form method='post' action="{% url "add_money" %}">
                    {% csrf_token %}
                    {{ add_money_form.amount|as_crispy_field }}
                    <button type="submit" class="btn btn-primary" style="margin-left:30px;margin-top:20px;">Add Money</button>
                </form>
                <!-- wallet transactions -->
                <h5 class="text-left my-5" style="padding-top:30px;margin-left: 20px;">Transactions</h5>
                {% for key, value in context.items %}
                    <div style="margin-top:5px;display: inline-block;width: 100%;">
                        {% if value.2 > 0 %}
                            <div style="float: left;margin-left: 50px;">Amount Added</div>
                        {% else %}
                            <div style="float: left;margin-left: 50px;">Amount Paid</div>
                        {% endif %}
                        <div style="float: right;margin-right: 50px;">Rs. {{ value.2 }}</div>
                    </div>
                    <div style="display: inline-block;width: 100%;">
                        <div style="float: left;margin-left: 50px;font-size: 12px;">Status</div>
                        {% if value.3 == 5 %}
                            <div style="float: right;margin-right: 50px;color: green;font-size: 12px;">Success</div>
                        {% elif value.3 == 2 %}
                            <div style="float: right;margin-right: 50px;color: blue;font-size: 12px;">Pending</div>
                        {% else %}
                            <div style="float: right;margin-right: 50px;color: red;font-size: 12px;">Failed</div>
                        {% endif %}
                    </div>
                    <div style="display: inline-block;width: 100%;">
                        <div style="float: left;margin-left: 50px;font-size: 12px;">Time</div>
                        <div style="float: right;margin-right: 50px;font-size: 12px;">{{ value.1 }}</div>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
