body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.7em;
    text-align: justify;
    text-justify: inter-word;
    margin: 0 0 !important;
}



.main__section .row {
    margin: 0% 0% !important;
}

.col-gl-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-6,
.col-lg-8,
.col-lg-9,
.col-lg-10 {
    padding: 0% 0% !important;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


/*  SIDEBAR STYLE */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    position: fixed;
    height: 100%;
}

#sidebar {
    min-width: 15em;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 1.2em;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 1.2em 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 0.64em;
}

#sidebar ul li a {
    padding: 0.65em;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 1.2em;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 2em !important;
    background: #6d7fcc;
}

ul {
    list-style-type: none;
    padding-inline-start: 10px;
}

.fix {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1rem;
    /* text-transform: capitalize; */
    position: sticky;
    top: 4rem;
    height: 40em;
    overflow-y: auto;
}

.fix ul {
    border-left: 1px solid #eee;
}

.fix ul a {
    color: #77757a;
}

#section1,
#section2,
#section3 {
    padding: 30% 7%;
}


/* series-form  */
.pado {
    padding: 1% 1%;
}

.padding-adder {
    padding-left: 35%;
}


.series__form,
.series__added__form {
    padding: 7% 10%;
}

.media-season {
    min-width: 100%;
}

.episode__info,
.adding__movie,
.season__info,
.series__info {
    padding-left: 6%;
}



.do-not-show {
    display: none;
}

/* episode form  */
.fa-times {
    color: white;
    font-size: 1em;
}

#episode-link {
    display: none;
}

/* 100% width  */
.add__season__videos,
#add-epiapnd,
#add-apnd {
    width: 100%;
}


/* added series  */
.adding__series {
    margin-left: 10%;
}

.modal-dialog {
    min-width: 40% !important;
}

.middle-section {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
}

/* arrows  */
.arro {
    border: solid #6c757d;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
}

.right {
    transform: rotate(-45deg);
}

.cont-user-type {
    padding: 7% 3%;
}

@media(max-width:1500px) {

    .series__added__form {
        padding: 7% 7%;
    }
}

@media(max-width:1400px) {
    .middle-section {
        -webkit-line-clamp: 5;
    }
}

@media(max-width:1300px) {
    .middle-section {
        -webkit-line-clamp: 4;
    }

    #sidebar {
        min-width: 12em;
    }

    .series__form,
    .series__added__form {
        padding: 7% 0%;
    }
    .episode__info{
        padding-left:0%;
    }
}

@media(max-width:1050px) {
    .middle-section {
        -webkit-line-clamp: 3;
    }

    #sidebar {
        min-width: 10em;
    }
}

@media(max-width:950px) {

    .series__added__form {
        padding: 7% 0%;
    }
}

@media(max-width:900px) {
    .container {
        max-width: 100%;
    }

    .col-sm-1,
    .col-md-1,
    .col-lg-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .add__season__videos {
        padding: 0% 6%;
    }

    h4 {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    .series__info {
        padding: 0% 12%;
    }

    .col-lg-2,
    .col-sm-2,
    .col-md-2,
    .col-md-8 {
        width: 100% !important;
    }

    .media-full {
        left: 0;
    }

    .media-home {
        position: absolute;
        left: 0;
    }

    .wrapper {
        display: block;
        position: relative;
    }

    .fix {
        display: none;
    }

    .fade-on-small {
        display: none;
    }

    .series__form .list-group,
    .series__added__form .list-group {
        flex-direction: row;
    }

    .col-md-8,
    .col-lg-2 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .episode__info,
    .season__info,
    .series__info {
        padding-left: 0%;
    }

    .middle-section {
        -webkit-line-clamp: 4;
    }

    .arro {
        padding: 4px;
    }
}

@media (max-width: 795px) {

    .series__info {
        padding-left: 8%;
    }

    h4 {
        font-size: 1.2rem;
    }

    p,
    span {
        font-size: 0.9rem;
    }

    .col-sm-6,
    .col-md-6,
    .col-lg-6 {
        width: 50%;
    }

    .middle-section {
        -webkit-line-clamp: 2;
    }

    .middle-section {
        -webkit-line-clamp: 3;
    }

    .col-sm-3,
    .col-md-3,
    .col-lg-3 {
        width: 25%;
    }

    .col-lg-6,
    .col-md-6,
    .col-sm-6 {
        width: 50%;
    }

    .col-lg-9,
    .col-md-9,
    .col-sm-9 {
        width: 75%;
    }
}

@media (max-width: 500px) {
    body>* {
        font-size: 0.8rem !important;
    }


    h3,
    h4 {
        font-size: 1rem;
    }

    p,
    span,
    .form-control {
        font-size: 0.8rem !important;
    }

    .btn {
        font-size: 0.8rem !important;
    }

    .adding__series {
        margin: 0% 0%;
    }
}

@media(max-width:400px) {
    .content {
        min-height: 100px;
        margin: 3% 0% !important;
        padding: 0% 0%;
    }

    .list-group-item-action {
        margin: 0% 2% !important;
        padding: 3% 3% !important;
    }

    .col-lg-6,
    .col-md-6,
    .col-sm-6,
    .col-lg-2,
    .col-md-2,
    .col-sm-2,
    .col-lg-1,
    .col-md-1,
    .col-sm-1,
    .col-sm-4,
    .col-lg-4,
    .col-md-4,
    .col-lg-8,
    .col-sm-8,
    .col-md-8,
    .col-lg-9,
    .col-md-9,
    .col-sm-9,
    .col-lg-3,
    .col-md-3,
    .col-sm-3 {
        width: 100%;
    }

    .arro {
        padding: 4px;
    }
}



/* new changes  */
img{
    width:100%;
    object-fit:fill;
    height:15rem !important;
}

button,input{
    overflow:hidden !important;
}

