/* common css  */

.row {
  margin: 0% 0% !important;
}

.container-fluid {
  padding: 0% 0% !important;
}

.spec-card .card-body,
.spec-card .card-footer {
  padding: 0% 0% !important;
  margin: 0% 0% !important;
}

body {
  background-color: #272B2C;
  color: #fff;
}

.col-gl-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10 {
  padding: 0% 0% !important;
}


a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus,
a:visited {
  color: inherit;
  text-decoration: none;
}

.nav-item,
.nav-des {
  font-size: 1.2rem;
  font-weight: 300;
}

.nav-link,
.nav-des {
  color: #eeeeee !important;
}

.rem-button {
  background: none;
  border: 0;
  line-height: 1;
  font-size: 1.2rem;
  color: #fff !important;
  text-align: center;
  outline: 0;
  padding: 0;
  cursor: pointer;
  font-weight: 300;
}

.rem-button:hover,
.rem-button:focus {
  outline: 0;
  border: 0;
}

/* .row{
  margin:0% 0% !important;
}  */

ul {
  list-style-type: none;
  padding-inline-start: 0 !important;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}


/* home page  */
.back-wrapper {
  max-width: 100%;
  position: relative;
  top: -1rem;
}

.back-img-par {
  width: 100%;
  height: 44rem;
  overflow: hidden;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.back-img-child {
  height: 100%;
  width: 100%;
}

.back-img-child img {
  width: 100%;
  height: inherit;
  object-fit: cover;
  animation-name: homeView;
  animation-direction: forward;
  animation-duration: 3s;
  animation-timing-function: linear;
  opacity: 0.5;
}

/*insert-vid.html*/
#pl-vid a {
  text-decoration: none;
  color: #fff;
}

#pl-vid a:hover .container {
  text-decoration: none;
  background-color: #353A3B;
}

#pl-vid a:active .container {
  text-decoration: none;
  background-color: #353A3B;
}

.comment .card-body ul {
  max-height: 30rem;
  overflow-y: scroll;
}

/* n-l-section  */





/* series description  */
.access-lock {
  border: 1px solid #dc3545;
  max-width: 3rem;
  border-radius: 50%;
  font-size: 1.3rem;
}

.access-lock-img {
  position: absolute;
  z-index: 3;
  border: 1px solid #dc3545;
  max-width: 2rem;
  border-radius: 50%;
  font-size: 1rem;
  transition: transform ease-in-out 0.4s;
}

.info-sect {
  margin: 15% 7%;
}


/* video container  */

.runner-section {
  margin-top: 4%;
}

.player-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #232222;
}

.playlist-container {
  position: sticky;
}

.bg-dark {
  background-color: #181a1b !important;
}

.vid-butto {
  position: relative;
  display: flex;
  justify-content: space-between;
}



/*
video-player section 
*/
.player {
  padding: 0% 0%;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
}


a {
  text-decoration: none;
}




/* icon  */

/* video-body  */
.video-body {
  padding: 0% 9%;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.player__video {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  object-fit: contain;
}

/* video-body ends  */


/* video-footer  */


/* player button  */
.player__button {
  background: none;
  border: 0;
  line-height: 1;
  font-size: 1.3rem;
  color: white;
  text-align: center;
  outline: 0;
  padding: 0;
  cursor: pointer;
  max-width: 50px;
  transition: ease-in-out 0.5s;
}

/* skip buttons  */
.backword__button,
.forward__button {
  background: none;
  border: 0;
  line-height: 1;
  font-size: 0.9rem;
  color: white;
  text-align: center;
  outline: 0;
  padding: 0;
  cursor: pointer;
  max-width: 50px;
  transition: ease-in-out 0.5s;
}

.timer__button {
  background: none;
  border: 0;
  line-height: 1;
  font-size: 0.95rem;
  color: white;
  text-align: center;
  outline: 0;
  padding: 0;
  cursor: pointer;
  max-width: 7em;
  transition: ease-in-out 0.5s;
}

.backword__button:hover {
  font-size: 1.2rem;
  position: relative;
  transform: translateX(-2px);
}

.forward__button:hover {
  font-size: 1.2rem;
  position: relative;
  transform: translateX(2px);
}

.backword__button:hover,
.backword__button:focus,
.forward__button:hover,
.forward__button:focus {
  border: 0;
  outline: 0;
}

/* volume  */
.volume__button {
  background: none;
  border: 0;
  line-height: 1;
  font-size: 1.3rem;
  color: white;
  text-align: center;
  outline: 0;
  padding: 0;
  cursor: pointer;
  max-width: 50px;
  transition: ease-in-out 0.5s;
}

.player__slider {
  max-width: 5rem;
  cursor: pointer;
  display: none;
  transition: ease-in-out 0.2s;
  transition-delay: 0.2s;
}

.fa-volume-up,
.fa-play,
.fa-pause,
.fa-volume-mute {
  color: white;
  font-size: 1rem;
  transition: ease-in-out 0.3s;
}

.fa-volume-up:hover,
.fa-volume-mute:hover {
  font-size: 1.2rem;
}

.volume__button:hover+.volume__button:focus {
  border: 0;
  outline: 0;
}

.player__button:hover .fa-play:hover,
.fa-pause:hover {
  font-size: 1.2rem;
}

.volume__button:hover+.player__slider {
  display: block;
}

.player__slider:hover {
  display: block;
}

.player__controls {
  padding: 2%;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(100%) translateY(-1px);
  transition: all .3s;
  transition-delay: 0s;
  flex-wrap: wrap;
  background: rgba(19, 18, 18, 0.1);
  z-index: 10;
}

.player:hover .player__controls {
  transform: translateY(0);
}



.player__controls>* {
  flex: 1;
}


.video-head {
  padding: 1%;
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  transform: translateY(0%) translateY(-100px);
  transition: all .3s;
  transition-delay: 0s;
  flex-wrap: wrap;
}

.player:hover .video-head {
  transform: translateY(0);
}


.progress {
  margin-bottom: 2%;
  flex: 10;
  position: relative;
  display: flex;
  flex-basis: 100%;
  height: 0px;
  transition: height 0.3s;
  transition-delay: 0s;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.player:hover .progress {
  height: 8px;
}

.progress__filled {
  width: 50%;
  background: #00B3FFCC;
  flex: 0;
  flex-basis: 0%;
}

/* fullscreen */
.fullscreen {
  display: flex;
  justify-content: flex-end;
}

.fs__button,
.pip__button,
.setting__button,
.theatre__button,
.prev-button,
.next-button {
  background: none;
  border: 0;
  line-height: 1;
  font-size: 1.1rem;
  color: white;
  text-align: center;
  outline: 0;
  padding: 0;
  cursor: pointer;
  max-width: 50px;
  transition: ease-in-out 0.5s;
}

.prev-button,
.next-button {
  font-size: 1.3rem;
}

.fs__button:hover {
  font-size: 1.2rem;
}

.pip__button:hover {
  font-size: 1.2rem;
}

.theatre__button:hover {
  font-size: 1.2rem;
}

.fa-mobile-alt {
  transform: rotate(90deg);
}


.fs__button:hover,
.fs__button:focus,
.volume__button:hover,
.volume__button:focus,
.player__button:hover,
.player__button:focus,
.pip__button:hover,
.pip__button:focus,
.setting__button:hover,
.setting__button:focus,
.theatre__button:hover,
.theatre__button:focus,
.prev-button:hover,
.prev-button:focus,
.next-button:hover,
.next-button:focus {
  border: 0;
  outline: 0;
}


/* theater  */
.fa-arrows-alt-v {
  transform: rotate(90deg);
}

/* video-footer ends  */


/* setting-dropdown  */
.playback,
.qual {
  display: none;
}

.plbcrt {
  background-color: #29303b;
  top: -4rem !important;
}

.playback,
.qual,
.dis {
  color: white;
}

.playback:hover,
.qual:hover,
.dis:hover {
  background-color: #505763;
  color: white;
}


.arrow {
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 8px;
}

.right {
  transform: rotate(-45deg);
}



/* comments section  */
.vid-cont {
  overflow-y: scroll;
  padding: 0% 0% !important;

}

.flg-comm-button,
.show-mr-button {
  background: none;
  border: 0;
  line-height: 1;
  font-size: 1rem;
  text-align: center;
  color: #dddddd;
  outline: 0;
  padding: 0;
  cursor: pointer;
  max-width: 4rem;
}

.vid-conti {
  max-height: 37vw;
  overflow-y: scroll;
}

.d-cent {
  overflow: hidden;
  font-size: 0.9rem;
  text-align: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.descript-sect {
  padding: 1% 5%;
}

.descript-sect .row {
  border-bottom: 1px solid #AfAdAd;
}


.c-visible-t-mode {
  display: none;
}

.comment {
  position: sticky;
  min-height: 100%;
  background-color: #272B2C;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}




/*video description*/
.vid-hd {
  font-size: 1.2rem;
}

.vid-desc{
  padding-bottom:12%;
}

/* favourites button */
.ico-cont {
  border: 1px solid #dc3545;
  max-width: 5rem;
  border-radius: 50%;
  font-size: 1rem;
}

.add-to-fav,
.vid-flag,
.vid-like,
.vid-dislike {
  background: none;
  border: 0;
  line-height: 1;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  outline: 0;
  padding: 0;
  cursor: pointer;
  max-width: 5rem;
}


.add-to-fav-title,
.add-to-flag,
.add-to-like,
.add-to-dislike {
  font-size: 0.95rem;
}

.add-to-fav:hover,
.add-to-fav:focus,
.vid-flag:hover,
.vid-flag:focus,
.vid-like:hover,
.vid-like:focus,
.vid-dislike:hover,
.vid-dislike:focus,
.flg-comm-button:hover,
.show-mr-button:hover,
.flg-comm-button:focus,
.show-mr-button:focus {
  border: 0;
  outline: 0;
}

/**/

/*series -desc .html */

/* series view section  */
.info-sect {
  margin: 15% 0%;
}

.ser-tp-tmb {
  width: 100%;
  padding-bottom: 10%;
  opacity: 0.8;
}

.ser-tmb-img {
  position: relative;
  height: 30rem;
  width: 100%;
  background-size: cover;
  opacity: 1
}


.lin-grade {
  background-image: linear-gradient(0deg, black 10%, #181a1b 30%, transparent 60%);
}

/* series description  */
.access-lock {
  border: 1px solid #dc3545;
  max-width: 2rem;
  border-radius: 50%;
  font-size: 1rem;
}

.access-lock-img {
  position: absolute;
  z-index: 3;
  border: 1px solid #dc3545;
  max-width: 2rem;
  border-radius: 50%;
  font-size: 1rem;
  transition: transform ease-in-out 0.4s;
}



/*ends here*/


/*season.html*/

/* carousel  */
.carousel-control-prev,
.carousel-control-next {
  margin-top: 9rem;
  max-height: 3rem;
  font-size: 2rem;
  border-radius: 50%;
  max-width: 3rem;
}



/* recommen  */
.pad-addr {
  padding: 3% 0% 3% 0%;
}

.pad-car-add {
  padding: 1% 0%;
}

.to-observe {
  opacity: 0;
  transition: 5s ease-in-out;
}

/* images descrption (series,movies )  */


.ser-img {
  /* display:none; */
  position: relative;
  border-radius: 3%;
  height: 22rem;
  width: 100%;
  object-fit: fill;
  opacity: 1;
  transition: transform ease-in-out 0.2s;
  transition-delay: 0.2s;
}

.d-none-hover {
  overflow: hidden;
  opacity: 1;
  transition-delay: 0.3s;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.ser-name-carouse {
  opacity: 0;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.card {
  background-color: inherit;
}

.card-view-button {
  z-index: 2;
  position: relative;
  opacity: 0;
}

.card-body:hover .ser-img {
  border-radius: 3%;
  position: relative;
  object-fit: fill;
  width: 100%;
  opacity: 0.7;
  transform: scaleY(1.3) scaleX(1.1);
  z-index: 1;
}

.card-body:hover .d-none-hover {
  opacity: 0;
}

.card-body:hover .card-view-button,
.card-body:hover .ser-name-carouse {
  z-index: 2;
  opacity: 1;
  position: relative;
  overflow: hidden;
  transition: ease-in-out 0.2s;
  transition-delay: 0.4s;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.img-descr {
  display: none;
}


.img-descr-top,
.img-descr-cat,
.img-descr-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

}

.img-descr-top {
  font-size: 1.2rem;
}

.img-descr-desc,
.imd-descr-cat {
  font-size: 0.9rem;
  text-align: left;
  display: block;
}

/*ends here*/




/* dropdown hover effects */
.dropdown-menu {
  background-color: #172B2C;
  color: #eeeeee !important;
  max-width: 150px;
}

.dropdown-item a,
.dropdown-item {
  color: #eeeeee !important;
}

.dropdown-item:hover {
  background-color: #464C4F;
}

.specia-drop:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.show-mr-button {
  background: none !important;
  border: none;
  padding: 0 !important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #d9534f;
  text-decoration: underline;
  cursor: pointer;
}





/* adder class */
.back-img-roo {
  background-color: #272B2C;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 90%);
  background-repeat: no-repeat;
}


/* animations  */
@keyframes homeView {
  from {
    transform: scale(1.5);
  }

  to {
    transform: scale(1.0);
  }
}

@keyframes sectionAnimate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* resposnsive  media queries */

@media(max-width:1500px) {
  .pad-addr {
    padding: 5% 0% 5% 0%;
  }

  .pad-car-add {
    padding: 2% 0%;
  }

  .ser-img {
    height: 17rem;
  }

  .arrow {
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 7px;
  }
}

@media(max-width:1400px) {}

@media(max-width:1300px) {
  .pad-addr {
    padding: 6% 0% 6% 0%;
  }

  .pad-car-add {
    padding: 2% 0%;
  }

  .ser-img {
    height: 15rem;
  }

  .arrow {
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 7px;
  }

  .ser-tmb-img {
    height: 30rem;
  }
  .vid-desc{
    padding-bottom:13%;
  }
}

@media(max-width:1050px) {

  .rem-button{
    font-size:1rem;
  }
  .ser-tmb-img {
    height: 28rem;
  }
  .vid-desc{
    padding-bottom:14%;
  }
}

@media(max-width:950px) {
   .ser-tmb-img {
    height: 26rem;
  }
}


@media(max-width:900px) {
  .pad-addr {
    padding: 9% 0% 9% 0%;
  }
  .vid-desc{
    padding-bottom:15%;
  }
  .arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
  }

  .pad-car-add {
    padding: 4% 0%;
  }

  .ser-img {
    height: 14rem;
  }

  h4 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.4rem;
  }
}

@media (max-width: 795px) {

  .ser-tmb-img {
    height: 23rem;
  }

  .vid-desc{
    padding-bottom:17%;
  }
  .ser-img {
    height: 9rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  p,
  span {
    font-size: 0.9rem;
  }

  .col-sm-6,
  .col-md-6,
  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5,
  .col-md-5,
  .col-sm-5 {
    width: 40%;
  }

  .col-lg-7,
  .col-md-7,
  .col-sm-7 {
    width: 60%;
  }

  .col-sm-3,
  .col-md-3,
  .col-lg-3 {
    width: 25%;
  }

  .col-lg-6,
  .col-md-6,
  .col-sm-6 {
    width: 50%;
  }

  .col-lg-9,
  .col-md-9,
  .col-sm-9 {
    width: 75%;
  }

  .col-xl-2,
  .col-lg-2,
  .col-md-2,
  .col-sm-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .carousel-control-prev,
  .carousel-control-next {
    margin-top: 5rem;
    max-height: 2rem;
    font-size: 2rem;
    border-radius: 50%;
    max-width: 2rem;
  }
}

@media (max-width: 500px) {
  body>* {
    font-size: 0.8rem !important;
  }


  h3,
  h4 {
    font-size: 1rem;
  }

  p,
  span,
  .form-control {
    font-size: 0.8rem !important;
  }

  .btn {
    font-size: 0.8rem !important;
  }
}

@media(max-width:400px) {

  .col-lg-6,
  .col-md-6,
  .col-sm-6,
  .col-lg-2,
  .col-md-2,
  .col-sm-2,
  .col-lg-1,
  .col-md-1,
  .col-sm-1,
  .col-sm-4,
  .col-lg-4,
  .col-md-4,
  .col-lg-8,
  .col-sm-8,
  .col-md-8,
  .col-lg-9,
  .col-md-9,
  .col-sm-9,
  .col-lg-3,
  .col-md-3,
  .col-sm-3 {
    width: 100%;
  }

  .arro {
    padding: 4px;
  }
}



/* new changes  */
.modal {
  color: #fff !important;
}

.modal-content {
  background-color: #272B2C;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}

/* footer  */

.contact-info {
  padding: 1% 15%;
}

.bag {
  background-color: #3b064d;
}

.pad {
  padding: 1% 2%;
}

.fa-facebook,
.fa-twitter,
.fa-instagram,
.fa-linkedin-in {
  color: white;
}

.follow-section {
  font-size: 1.8rem;
  padding: 1% 2%;
}

@media (max-width:900px) {
  .contact {
    top: 5%;
  }
}

/* display on-wait section  */

.d-on-wait{
  display:none;
}