/* body  */
body {
    background-color: #272B2C;
    color: #fff;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    background-repeat: no-repeat;
}

.card {
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    color: #fff;
    border-radius: 4%;
}

.subscription-plans {
    margin: 10% 25%;
}