{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>StrangeFlix</title>
    <!-- font-awesome  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="{% static "css/fontawesome.min.css" %}"> -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <!-- google-fonts -->
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative:900|IBM+Plex+Sans&display=swap"
        rel="stylesheet">

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="{% static "css/bootstarp.min.css" %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- css  -->
    <link rel="stylesheet" href="{% static "css/homes.css" %}">
</head>

<body>
    <div class="navbar-section">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
            <a href="#" class="navbar-brand py-3 font-weight-bold">Strangeflix</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav">
                    <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
                    <li class="nav-item">
                        <!-- <a class="nav-link" href="#"> -->
                            <div class="dropdown py-2 px-2">
                                <button class="rem-button" id="dropdownMenu2"  aria-haspopup="true" aria-expanded="false">
                                  Sports
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                  <div class="dropdown-item">
                                    <a href="#">Cricket</a>   
                                  </div>
                                  <div class="dropdown-item">
                                    <a href="#">Football</a>
                                  </div>
                                  <div class="dropdown-item">
                                    <a href="#">Tennis</a>
                                  </div>
                                  <div class="dropdown-item">
                                    <a href="#">Martial Arts</a>
                                  </div>
                                  <div class="dropdown-item">
                                    <a href="#">eSports</a>
                                  </div>
                                  <div class="dropdown-item">
                                    <a href="#">Hockey</a>
                                  </div>
                                  <div class="dropdown-item">
                                    <a href="#">Badminton</a>
                                  </div>
                                  <div class="dropdown-item">
                                    <a href="#">Wrestling</a>
                                  </div>
                                  <div class="dropdown-item">
                                    <a href="#">Kabbadi</a>
                                  </div>
                                  <div class="dropdown-item">
                                    <a href="#">Table Tennis</a>
                                  </div>
                                </div>
                            </div>
                        <!-- </a> -->
                    </li>
                    <li class="nav-item">
                            <div class="dropdown py-2 px-2">
                                <button class="rem-button" id="dropdownMenu3"  aria-haspopup="true" aria-expanded="false">
                                  Entertainment
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
                                     <div class="dropdown-item">
                                        <a href="#">Action</a> 
                                      </div>
                                      <div class="dropdown-item">
                                        <a href="#">Adventure</a>
                                      </div>
                                      <div class="dropdown-item">
                                        <a href="#">Animation</a>
                                      </div>
                                      <div class="dropdown-item">
                                        <a href="#">Comedy</a>
                                      </div>
                                      <div class="dropdown-item">
                                        <a href="#">Crime</a>
                                      </div>
                                      <div class="dropdown-item">
                                        <a href="#">Drama</a>
                                      </div>
                                      <div class="dropdown-item">
                                        <a href="#">Horror</a>
                                      </div>
                                      <div class="dropdown-item">
                                        <a href="#">Romance</a>
                                      </div>
                                      <div class="dropdown-item">
                                        <a href="#">Thriller</a>
                                      </div>
                                </div>
                            </div>
                    </li>
                </ul>
                <div class="navbar-nav ml-auto">

                    <!-- search bar  -->
                    <input type="text" id="sear" class="form-control mr-sm-2" placeholder="search by name">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-dark">Search</button>
                        <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" aria-haspopup="true" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu">
                          <button id="sear-by-nam" class="dropdown-item btn-secondary">Search by name</a>
                          <button id="sear-by-tag" class="dropdown-item btn-secondary">Search by tags</a>
                        </div>
                    </div>

                    {% if user.is_authenticated %}
                    <li class="mx-4">
                        <div class="btn-group">
                            <button class="rem-button py-2 px-2" aria-haspopup="true"
                                aria-expanded="false">
                                {{ user.username }}
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Profile</a>
                                <a class="dropdown-item" href="{% url "subscription_plans" %}">Subscribe</a>
                                <a class="dropdown-item" href="{% url "wallet_details" %}">Wallet</a>
                                <a class="dropdown-item" href="#">Create Room</a>
                                <a class="dropdown-item" href="#">Join Room</a>
                                <a class="dropdown-item" href="{% url "account_logout" %}">Logout</a>
                            </div>
                        </div>
                    </li>
                    {% else %}
                    <li class="mx-4">
                        <!-- login  -->
                        <a href="#" class="nav-item nav-link ml-2" data-toggle="modal"
                            data-target="#loginModal">Login</a>
                    </li>
                    {% endif %}
                </div>
            </div>
        </nav>
        <!-- login modal  -->
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-title text-center">
                            <h4>Login</h4>
                        </div>
                        <div>
                            <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-block btn-social btn-facebook"
                                style="text-align:center;color: white;background: #3b5998;">
                                <!-- <span class="fa fa-facebook"></span> -->
                                <svg aria-hidden="true" class="svg-icon iconFacebook" width="20" height="20"
                                    viewBox="0 0 18 18">
                                    <path
                                        d="M3 1a2 2 0 00-2 2v12c0 1.1.9 2 2 2h12a2 2 0 002-2V3a2 2 0 00-2-2H3zm6.55 16v-6.2H7.46V8.4h2.09V6.61c0-2.07 1.26-3.2 3.1-3.2.88 0 1.64.07 1.87.1v2.16h-1.29c-1 0-1.19.48-1.19 1.18V8.4h2.39l-.31 2.42h-2.08V17h-2.5z"
                                        fill="#ffffff"></path>
                                </svg>
                                Sign in with Facebook
                            </a>
                            <a href="{% url 'social:begin' 'google-oauth2' %}"
                                class="btn btn-block btn-social btn-facebook"
                                style="background-color:#ebecf5;text-align:center">
                                <!-- <span class="fa fa-facebook"></span> -->
                                <svg aria-hidden="true" class="native svg-icon iconGoogle" width="20" height="20"
                                    viewBox="0 0 18 18">
                                    <path
                                        d="M16.51 8H8.98v3h4.3c-.18 1-.74 1.48-1.6 2.04v2.01h2.6a7.8 7.8 0 002.38-5.88c0-.57-.05-.66-.15-1.18z"
                                        fill="#4285F4"></path>
                                    <path
                                        d="M8.98 17c2.16 0 3.97-.72 5.3-1.94l-2.6-2a4.8 4.8 0 01-7.18-2.54H1.83v2.07A8 8 0 008.98 17z"
                                        fill="#34A853"></path>
                                    <path d="M4.5 10.52a4.8 4.8 0 010-3.04V5.41H1.83a8 8 0 000 7.18l2.67-2.07z"
                                        fill="#FBBC05"></path>
                                    <path
                                        d="M8.98 4.18c1.17 0 2.23.4 3.06 1.2l2.3-2.3A8 8 0 001.83 5.4L4.5 7.49a4.77 4.77 0 014.48-3.3z"
                                        fill="#EA4335"></path>
                                </svg>
                                Sign in with Google
                            </a>
                        </div>
                        <div class="d-flex flex-column mx-5">
                            <form id="loginform">
                                {% csrf_token %}
                                <div class="form-group my-4">
                                    {{ login_form.username|add_class:"form-control"|as_crispy_field }}
                                </div>
                                <div class="form-group my-4">
                                    {{ login_form.password|add_class:"form-control"|as_crispy_field }}
                                </div>
                                <div class="text-center my-4">
                                    <button onclick="custom_login()" type="button"
                                        class="btn btn-info btn-round">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <div class="signup-section">Not a member yet? <a href="#a" id="signup" class="text-info"
                                data-toggle="modal" data-target="#signupModal"> Sign Up</a>.</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- signup modal  -->
        <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-title text-center">
                            <h4>Register</h4>
                        </div>
                        <div class="d-flex flex-column mx-5">
                            <form method="POST" action="/accounts/register/">
                                {% csrf_token %}
                                <div class="form-group my-4">
                                    {{ registration_form.username|add_class:"form-control"|as_crispy_field }}
                                </div>
                                <div class="form-group my-4">
                                    {{ registration_form.email|add_class:"form-control"|as_crispy_field }}
                                </div>
                                <div class="form-group my-4">
                                    {{ registration_form.password1|add_class:"form-control"|as_crispy_field }}
                                </div>
                                <div class="form-group my-4">
                                    {{ registration_form.password2|add_class:"form-control"|as_crispy_field }}
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-info btn-round">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <div class="signup-section">Already a member? <a href="#a" id="login" class="text-info"
                                data-toggle="modal" data-target="#loginModal">Login</a>.</div>
                    </div>
                </div>
            </div>
        </div>


        <!-- if not logged in  -->
        <div class="n-l-section">

        </div>

    </div>
    {% include "home/insert-vid.html" %}
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="{% static "/js/jquery-3.5.1.js" %}"></script>

    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous">
    </script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="{% static "/js/homes.js" %}"></script>
    


    <!-- to truncate the extra hash in url -->
    <script type="text/javascript">
        if (window.location.hash === "#_=_") {
            history.replaceState ?
                history.replaceState(null, null, window.location.href.split("#")[0]) :
                window.location.hash = "";
        }
    </script>

    <script>
        function custom_login() {

            var username = document.querySelector("#loginform #id_username").value;
            var password = document.querySelector("#loginform #id_password").value;

            // javascript data object
            var data = {
                'username': username,
                'password': password,
            }

            // adding data to javascript form which is to be send over ajax request
            var formData = new FormData();
            formData.append('data', JSON.stringify(data));

            $.ajax({
                type: 'POST',
                url: '{% url "account_login" %}',
                data: formData,
                dataType: 'json',
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                success: function (data) {
                    // checking and handling error conditions
                    if (data.is_username_exists != '') {
                        alert(data.is_username_exists);
                    } else if (data.is_password_matches != '') {
                        alert(data.is_password_matches);
                    } else if (data.is_successful != '') {
                        window.location.href = data.redirect_url;
                    } else {
                        alert('Some unexpected error has occured. Try again.');
                    }
                }
            });
        }
    </script>
</body>

</html>